body{
    font-family: 'Montserrat', sans-serif;
}
#title{
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 15% 7%;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: #ffffff;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: #000000;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-weight: 300;
  font-size: 1.2rem;
}

/* Download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/*Title image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features  */

#features {
  font-family: Montserrat;
  text-align: center;
  padding: 7% 15%;
  background-color: #ffffff;
  position: relative;
}

p{
  color: #8f8f8f;

}

h3{
  font-size: 1.5rem;
  font-weight: bold;
}

#features i{
  color: #ef8172;
  font-size: 4rem;
  padding-bottom: 20px;

}

#features i:hover{
  color: #000000;
}

.feature-box{
  padding-bottom: 30px;
}

/* Testimonials  */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #ffffff;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Press */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 30%;
  padding: 3%;
}

/*princing section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

/*cta section */

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  color: #ffffff;
}

h3{
  font-size: 3rem;
  font-weight: bold;
  padding: 0 0 50px;
}

.cta-container button{
  padding-right: 30px;
}

/* Footer */

#footer{
  background-color: #ffffff;
  text-align: center;
  padding: 7% 15%;
}

.footer-icons{
  padding-bottom: 30px;
}

.footer-icons i{
  font-size: 1.5rem;
  padding-right: 15px;
}

/*Responsive section*/

@media (max-width:1028px){
  .title-image{
    position: static;
    transform: rotate(0);
  }

  #title{
    text-align: center;
  }
}
